name: Rust Backend Unit Tests

on:
  push:
    branches: [ "main" ]
    paths:
      - "backend/**"

  pull_request:
    branches: [ "main" ]
    paths:
      - "backend/**"

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
    - uses: actions/checkout@v4
    - name: Run tests
      run: cargo test
